.menu {
  position: relative;
}

.menuButton {
  background-color: #77002e;
  color: #fcb8d2;
  border: none;
  padding-right: 20px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.25);
}

.list {
  position: absolute;
  top: 35px;
  right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;

  background-color: #77002e;
}
.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #77002e;
  color: #fcb8d2;
  width: 160px;
  border-bottom: 1px solid #fcb8d2;
}
.listItemButton {
  border: none;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 100%;
  margin-left: 10px;
  height: 20px;
  width: 20px;
}
