.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 5rem;

  @media (min-width: 768px) {
    height: auto;
    padding: 1rem 1rem;
    width: 100%;
  }
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header li {
  display: flex;
  padding: 5px;
}

.header button {
  text-decoration: none;
  color: #fcb8d2;
  background-color: #77002e;
  border: 0;
  display: flex;
  position: relative;
}

.header button:hover,
.header button:active,
.header button.active {
  color: white;
}

.badge {
  position: absolute;
  top: -20px;
  right: -15px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc2062;
  color: white;
  border-radius: 100%;
}
