.list {
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 1rem;
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

.item {
  margin: 1rem 0;
  list-style: none;
}

.loading {
  font-size: 1.5rem;
  color: #2c292b;
  text-align: center;
  width: 100%;
}
